a {
  color: red;
}

a:hover {
  color: lime;
}


p {
  font-family: Arial, sans-serif;
}

/* Parágrafo imediatamente após um h1 */
h1 + p {
  font-weight: bold;
}

.destaque {
  font-family: Arial, sans-serif;
}

p.destaque {
  font-weight: bold;
}

strong.destaque {
  color: red;
}

html { font-size: 20px; }
html h1 { font-size: 2rem; } /* 2 * 20px = 40px */
h1 > .principal { font-size: 1.4em; }   /* 1.4 * 40px = 56px */
p > .secundario { font-size: 1.4rem; } /* 1.4 * 20px = 28px */

.cor {
    background: rgb(219, 78, 68);
}

.cor-clara {
    background: rgba(252, 90, 78);

}

.cor-escura {
    background: rgb(186, 66, 58);
}