/* Color Theme Swatches in Hex */
.principal{ color: #034159; }
.background{ color: #025951; }
.Closeup-shot-of-a-hard-soap-with-bubbles-and-beautiful-color-textures-4-hex{ color: #02735E; }
.Closeup-shot-of-a-hard-soap-with-bubbles-and-beautiful-color-textures-4-hex { color: #038C3E; }
.destaque{ color: #0CF25D; }


.main footer    {
    margin: 4%;
}

.main footer a  {
   border: solid    2px   #034159;
   padding: 0.5em;
   display: inline-block;
}

aside ul    {
    list-style-type: none;
}

aside ul li     {
    margin: 1em;
    text-align: center;    
}        

.page-wrapper {
    width: 80%;
    max-width: 1280px;
    margin: auto;
}

#zen-intro  {
    height: 550px;
}

#design-archives {
    display: none;
}

#zen-intro header {
    background-color: #034159;
    color: #ffffff;
}

#zen-intro header h1, .#zen-intro header h2 {
    display: inline-block;  
}

#zen-intro header h1 {
    margin-left: 1em;
    margin-right: 1em;
}


html {
    background-color:#ffffff;
    color:#034159;
    font-size: 18px;
    font-family: 'Courier New', Courier, monospace;

}
p  {
   text-indent: 1em;
}

h1, h2, h3, h4, h5, h6 {
    text-align: center;
}

h1 {font-size: 1.8rem;}
h2 {font-size: 1.4rem;}
h3 {font-size: 1.2rem;}

.summary { text-align: right;}
.main p{line-height: 1.5;}
abbr{font-variant: small-caps;}