/* Color Theme Swatches in Hex */
.principal{ color: #034159; }
.background{ color: #025951; }
.Closeup-shot-of-a-hard-soap-with-bubbles-and-beautiful-color-textures-4-hex{ color: #02735E; }
.Closeup-shot-of-a-hard-soap-with-bubbles-and-beautiful-color-textures-4-hex { color: #038C3E; }
.destaque{ color: #0CF25D; }

html {
    background-color: #0CF25D;
    color: #034159;
    font-size: 18px;
    font-family: 'Courier New', Courier, monospace;

}
p  {
   text-indent: 1em;
}

h1, h2, h3, h4, h5, h6 {
    text-align: center;
}

h1 {font-size: 1.8rem;}
h2 {font-size: 1.4rem;}
h3 {font-size: 1.2rem;}

.summary { text-align: right;}
.main p{line-height: 1.5;}
abbr{font-variant: small-caps;}